*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* Navbar */
.navbar{
    background: #ffb6ef;
    padding: 1rem;

}
.nav-list{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav-link{
    color: honeydew;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-link:hover,
.nav-link.active{
    background: #f53c73;
    border-radius: 8px;
}
.main-content{
    padding: 2rem;
    min-height: 80vh;
}
footer{
    background: #ffb6ef;
    color: crimson;
    text-align: center;
    padding: 1rem;
    margin-top: auto;

}
/* Menu Mobile */
.menu-toglle{
    display: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}
@media(max-width: 768px) {
    .navbar{
        position: relative;
    }
    .menu-toglle{
        display: block;
    }
    .nav-list{
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    #menu-checkbox:checked ~ .nav-list{
        display: flex;
        
    }
    .nav-link{}
}